<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>

<!-- css -->
<style type="text/css">
    .h1 {
        text-align: center;
    }

    .card {
        background-color:wheat;
        border-block-end-style: double;
        width: max-content;
        height: auto;
        margin: auto;    
    }
    
    .myImg {
        text-align: center;
        margin: auto;
    }
    
    .myInfo {
        text-align:left;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

</style>

<body background="https://pasteboard.co/HCADTCI.jpg">
<!-- header -->
<div class="h1">
    <h1>Hello my name is {{ name }}</h1>
</div>
<!-- Profile card -->
<div class="card">
    <div class="myImg">
        <img src="https://files.catbox.moe/73bqc7.png"  height=400 width=300>
    </div>
    <div class="myInfo">
        <ul>
            <li><article>NPM : {{ npm }}</article></li>
            <li><article>I am {{ age }} years old</article></li>
            <li><article>Hobby : Gaming</article></li>
            <li><article>Deskrips diri : </br>
                Biasa dipanggil Nafis, lahir tanggal 18 Oktober 1999. </br>
                Fakultas Ilmu Komputer Universitas Indonesia angkatan 2017
            </article></li>
        </ul>
        
    </div>
</div>
</body>
</html>
